*{
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}
.child{

}
.one {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
}  
.two {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: pink;
}
.three {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: green;
}
.four {
    grid-row-start:1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(197, 117, 117);
}
.five {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: goldenrod;
}
.six {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: orange;
}
.seven {
    grid-row-start: 4;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: grey;
}